<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dji.sdk.voice_control">

    <!-- SDK permission requirement -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="Manifest.permission.RECORD_AUDIO" />
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!--手机定位信息，用来为语义等功能提供定位，提供更精准的服务-->
    <!--定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--如需使用人脸识别，还要添加：摄像头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="true"/>


    <!-- SDK requirement permission end -->
    <application
        android:name="com.dji.sdk.voice_control.internal.controller.DJISampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/sample_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:extractNativeLibs="true"
        tools:replace="label"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <!--
            ADD API_KEY HERE and make sure you
            are connected to the Internet before
            the app is launched
        -->
        <!-- personal key -->
        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="01cdae86a6e8c36dbd8d0955"/>
        <!-- Required for receiving accessory attachment events.
            This is necessary for product when connecting over USB. -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="569c33d154ff50d882b86a8dcd1b1dcb"/>

        <activity
            android:name="com.dji.sdk.voice_control.internal.controller.MainActivity"
            android:label="dji_voice_control"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"/>
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter"/>
        </activity>

        <activity
            android:name="com.dji.sdk.voice_control.internal.controller.ControlActivity"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name="com.dji.sdk.voice_control.internal.controller.voice_control.FPVFullscreenActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name="com.dji.sdk.voice_control.internal.controller.voice_control.VoiceControlActivity"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name="com.dji.sdk.voice_control.internal.controller.VideoActivity"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name="com.dji.sdk.voice_control.internal.controller.DownloadActivity"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name="com.dji.sdk.voice_control.internal.controller.waypoint.Waypoint2Activity"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name="com.dji.sdk.voice_control.demo.payload.PayloadActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.dji.sdk.voice_control.demo.payload.PayloadSendGetDataActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"/>

        <activity
            android:name="com.dji.sdk.voice_control.demo.payload.PayloadWidgetActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape"/>

        <activity android:name="com.dji.sdk.voice_control.demo.utmiss.UTMISSActivity" />
    </application>

</manifest>
